<a href="https://colab.research.google.com/github/Mariammmmmmm/modeling_labs/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%E2%84%962_%D0%BF%D0%BE_%D0%BC%D0%BE%D0%B4%D0%B5%D0%BB%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [40]:
part0 = pd.read_parquet('part_0.parquet', engine='pyarrow')
part0 = part0.dropna()
part1 = pd.read_parquet('part_1.parquet', engine='pyarrow')
part1 = part1.dropna()
part2 = pd.read_parquet('part_2.parquet', engine='pyarrow')
part2 = part2.dropna()
part0 = part0.append(part1, ignore_index=True)
part0 = part0.append(part2, ignore_index=True)
part0.head(10)

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,mcc,country,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number
0,0,0.465425,1,4,98,4,2,3,7,3,2,1,37,2,4,19,351,34,-1,1
1,0,0.000000,1,2,98,7,1,3,7,3,2,1,49,2,4,20,351,34,0,2
2,0,0.521152,1,2,98,3,1,3,7,3,2,1,37,2,4,20,351,34,0,3
3,0,0.356078,1,1,5,2,1,3,7,3,10,1,49,7,2,0,348,34,52,4
4,0,0.000000,1,2,98,7,1,3,7,3,2,1,49,2,4,16,337,53,280,5
5,0,0.516834,1,2,98,3,1,3,7,3,2,1,37,2,4,16,337,53,0,6
6,0,0.258972,1,2,98,3,1,1,6,1,2,1,2,2,2,18,334,53,75,7
7,0,0.297589,1,2,98,3,1,1,6,1,2,1,2,2,2,19,327,52,169,8
8,0,0.356078,1,1,5,2,1,1,2,1,10,1,49,7,7,13,326,52,18,9
9,0,0.333547,1,1,5,2,1,1,2,1,10,1,49,7,7,13,326,52,0,10

In [41]:
train_target = pd.read_csv('alfabattle2_train_target.csv')
train_target.head(10)

   app_id  product  flag
0       0        3     0
1       1        1     0
2       2        1     0
3       3        1     0
4       4        1     0
5       5        1     0
6       6        1     0
7       7        0     0
8       8        2     0
9       9        0     0

In [42]:
part0 = pd.merge(part0, train_target, on='app_id', how='inner')
part0.dropna()
part0.head(10)

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,...,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number,product,flag
0,0,0.465425,1,4,98,4,2,3,7,3,...,37,2,4,19,351,34,-1,1,3,0
1,0,0.000000,1,2,98,7,1,3,7,3,...,49,2,4,20,351,34,0,2,3,0
2,0,0.521152,1,2,98,3,1,3,7,3,...,37,2,4,20,351,34,0,3,3,0
3,0,0.356078,1,1,5,2,1,3,7,3,...,49,7,2,0,348,34,52,4,3,0
4,0,0.000000,1,2,98,7,1,3,7,3,...,49,2,4,16,337,53,280,5,3,0
5,0,0.516834,1,2,98,3,1,3,7,3,...,37,2,4,16,337,53,0,6,3,0
6,0,0.258972,1,2,98,3,1,1,6,1,...,2,2,2,18,334,53,75,7,3,0
7,0,0.297589,1,2,98,3,1,1,6,1,...,2,2,2,19,327,52,169,8,3,0
8,0,0.356078,1,1,5,2,1,1,2,1,...,49,7,7,13,326,52,18,9,3,0
9,0,0.333547,1,1,5,2,1,1,2,1,...,49,7,7,13,326,52,0,10,3,0

In [43]:
X = part0.drop('flag', axis='columns')
y = part0.flag
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=42)
X_train.head(10)

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,...,country,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number,product
5201636,22774,0.294135,1,1,107,2,1,1,2,1,...,1,82,13,1,14,54,51,24,1154,1
8573,37,0.449287,1,2,98,3,1,1,6,1,...,1,2,2,7,20,322,46,0,52,0
587296,2695,0.408972,1,1,5,2,1,1,2,1,...,1,19,1,7,17,175,40,1,161,1
4997574,21926,0.512351,4,1,175,2,1,1,2,1,...,3,2,6,7,20,45,24,1,443,0
4131718,18332,0.354176,1,1,175,1,1,1,1,1,...,1,1,14,3,16,76,30,0,3404,1
579935,2663,0.336345,1,1,75,2,1,1,2,1,...,1,1,11,2,20,316,20,110,7,0
1653353,7354,0.476811,1,2,27,3,1,1,4,1,...,1,3,2,3,9,59,45,2,441,1
177819,826,0.426544,1,2,6,7,1,1,1,1,...,1,4,2,2,15,267,43,24,48,0
5392893,23579,0.348838,1,1,54,2,1,1,2,1,...,1,7,1,5,19,281,2,0,160,2
466590,2156,0.256357,1,1,6,1,1,1,1,1,...,1,57,4,4,10,39,31,17,179,0

In [7]:
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.1.0)

In [44]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform as sp_randFloat
from scipy.stats import randint as sp_randInt
from catboost import CatBoostClassifier, metrics

model = CatBoostClassifier()

parameters = { 'depth' : sp_randInt(4, 10),
               'learning_rate': sp_randFloat(),
              'iterations': sp_randInt(10, 100)
}

randn = RandomizedSearchCV(estimator=model, param_distributions = parameters,
                           cv = 2, n_iter = 10, n_jobs=-1)
randn.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:703: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

0:	learn: 0.1094727	total: 1.16s	remaining: 1m 13s
1:	learn: 0.1050530	total: 2.32s	remaining: 1m 11s
2:	learn: 0.1029739	total: 3.31s	remaining: 1m 7s
3:	learn: 0.1016459	total: 4.46s	remaining: 1m 6s
4:	learn: 0.0984860	total: 5.58s	remaining: 1m 5s
5:	learn: 0.0969980	total: 6.58s	remaining: 1m 3s
6:	learn: 0.0959844	total: 7.54s	remaining: 1m 1s
7:	learn: 0.0938044	total: 8.67s	remaining: 1m
8:	learn: 0.0920394	total: 9.77s	remaining: 59.7s
9:	learn: 0.0906365	total: 10.8s	remaining: 58.4s
10:	learn: 0.0899148	total: 11.9s	remaining: 57.2s
11:	learn: 0.0881480	total: 13s	remaining: 56.5s
12:	learn: 0.0864723	total: 14.1s	remaining: 55.4s
13:	learn: 0.0852424	total: 15.3s	remaining: 54.5s
14:	learn: 0.0842258	total: 16.4s	remaining: 53.4s
15:	learn: 0.0834110	total: 17.5s	remaining: 52.4s
16:	learn: 0.0824858	total: 18.5s	remaining: 51.3s
17:	learn: 0.0815475	total: 19.7s	remaining: 50.3s
18:	learn: 0.0811706	total: 20.6s	remaining: 48.9s
19:	learn: 0.0798994	total: 21.8s	remaining: 48s
20:	learn: 0.0787083	total: 22.9s	remaining: 46.9s
21:	learn: 0.0775111	total: 24.2s	remaining: 46.3s
22:	learn: 0.0767221	total: 25.3s	remaining: 45.1s
23:	learn: 0.0760053	total: 26.4s	remaining: 43.9s
24:	learn: 0.0749105	total: 27.6s	remaining: 43s
25:	learn: 0.0736616	total: 28.8s	remaining: 42.1s
26:	learn: 0.0728790	total: 30s	remaining: 41.1s
27:	learn: 0.0718519	total: 31.1s	remaining: 40s
28:	learn: 0.0709362	total: 32.2s	remaining: 38.9s
29:	learn: 0.0698725	total: 33.3s	remaining: 37.8s
30:	learn: 0.0687366	total: 34.4s	remaining: 36.6s
31:	learn: 0.0677674	total: 35.6s	remaining: 35.6s
32:	learn: 0.0672467	total: 36.7s	remaining: 34.5s
33:	learn: 0.0664159	total: 37.8s	remaining: 33.3s
34:	learn: 0.0653364	total: 39s	remaining: 32.3s
35:	learn: 0.0646288	total: 40s	remaining: 31.1s
36:	learn: 0.0640495	total: 41.1s	remaining: 30s
37:	learn: 0.0628770	total: 42.4s	remaining: 29s
38:	learn: 0.0625375	total: 43.3s	remaining: 27.8s
39:	learn: 0.0618430	total: 44.5s	remaining: 26.7s
40:	learn: 0.0614117	total: 45.5s	remaining: 25.5s
41:	learn: 0.0610233	total: 46.6s	remaining: 24.4s
42:	learn: 0.0604068	total: 47.9s	remaining: 23.4s
43:	learn: 0.0599615	total: 48.9s	remaining: 22.2s
44:	learn: 0.0593407	total: 50s	remaining: 21.1s
45:	learn: 0.0587304	total: 51.1s	remaining: 20s
46:	learn: 0.0582139	total: 52.3s	remaining: 18.9s
47:	learn: 0.0575367	total: 53.4s	remaining: 17.8s
48:	learn: 0.0570953	total: 54.5s	remaining: 16.7s
49:	learn: 0.0564941	total: 55.6s	remaining: 15.6s
50:	learn: 0.0557821	total: 57s	remaining: 14.5s
51:	learn: 0.0552265	total: 58.1s	remaining: 13.4s
52:	learn: 0.0545019	total: 59.3s	remaining: 12.3s
53:	learn: 0.0540192	total: 1m	remaining: 11.2s
54:	learn: 0.0536860	total: 1m 1s	remaining: 10.1s
55:	learn: 0.0532692	total: 1m 2s	remaining: 8.95s
56:	learn: 0.0527528	total: 1m 3s	remaining: 7.84s
57:	learn: 0.0519626	total: 1m 5s	remaining: 6.73s
58:	learn: 0.0513994	total: 1m 6s	remaining: 5.61s
59:	learn: 0.0508051	total: 1m 7s	remaining: 4.5s
60:	learn: 0.0501387	total: 1m 8s	remaining: 3.37s
61:	learn: 0.0496180	total: 1m 9s	remaining: 2.25s
62:	learn: 0.0490278	total: 1m 10s	remaining: 1.12s
63:	learn: 0.0487998	total: 1m 11s	remaining: 0us

RandomizedSearchCV(cv=2,
                   estimator=<catboost.core.CatBoostClassifier object at 0x7f3c6247c6d0>,
                   n_jobs=-1,
                   param_distributions={'depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f3c6247cb50>,
                                        'iterations': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f3c6247c850>,
                                        'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f3c6247ca10>})

In [45]:
print("Results from Random search " )
print("\n The best estimator across ALL searched params:\n" ,randn.best_estimator_)
print("\n The best score across ALL searched params:\n",randn.best_score_)
print("\n The best parameters across ALL searched params:\n", randn.best_params_)

Results from Random search

 The best estimator across ALL searched params:
 <catboost.core.CatBoostClassifier object at 0x7f3c5ffccf50>

 The best score across ALL searched params:
 0.9859109209280235

 The best parameters across ALL searched params:
 {'depth': 9, 'iterations': 64, 'learning_rate': 0.9993486625980919}

In [59]:
from sklearn.metrics import accuracy_score, roc_auc_score
print('the test accuracy is :{:.6f}'.format(accuracy_score(y_test,randn.best_estimator_.predict(X_test))))
val_roc_auc_score = roc_auc_score(y_test, randn.best_estimator_.predict(X_test))
print('the test roc_auc accuracy is ',val_roc_auc_score)

the test accuracy is :0.805926
the test roc_auc accuracy is  0.7245451042136632